#app {
    position: relative;
    top: 150px;
  }
  .back {
      position: fixed;
      top: 20px;
      left: 30px;
      margin: 4px 6px;
      font-size: 18px;
      padding: 0;
  }
    .tips {
      color: grey;
      font-size: 16px;
    }
    .heading {
      margin: 0;
      padding: 0;
      font-size: 28px;
    }
    .button_text {
      margin: 4px 6px;
      font-size: 22px;
      padding: 0;
    }
    .el-row {
      margin: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .el-col {
      border-radius: 4px;
    }
    .el-button {
      margin: 10px 0px;
    }
    .row-bg {
      padding: 4px 0;
    }